packages: [
  "advanced-open-file"
  "aligner-ruby"
  "api-workbench"
  "atom-beautify"
  "atom-ternjs"
  "autocomplete-paths"
  "autocomplete-ruby"
  "emmet"
  "file-icons"
  "git-control"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "language-slim"
  "linter"
  "linter-csslint"
  "linter-ruby"
  "minimap"
  "package-sync"
  "rails-i18n-autocomplete"
  "rails-model-schema"
  "rails-transporter"
  "raml"
  "react"
  "ruby-block"
  "ruby-slim"
  "script"
  "simplified-chinese-menu"
  "tree-view-git-status"
]

